{% extends '/_layout/main-default.html' %}

{% form_theme form '/_layout/form-default.html' %}

{% set page_title = 'Edit department' %}

{% block content %}
    <div class="container">
        <h1>Edit department</h1>

        <div class="grid">
            <div class="column-4">
                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ form_widget(form) }}
                    
                    <button type="submit" class="success">Save <span class="icon-navigate_next"></span></button>
                    {% if current_user.getRole() == 'admin' %}
                        <a href="{{ path('dashboard.departments.delete', {id: department.id}) }}" class="button link">Delete Department</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}