{% extends '/_layout/main-default.html' %}

{% set page_title = 'Departments' %}
{% set active_nav = 'admin' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-12">
                <h1>Departments</h1>
            </div>
        </div>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <a href="{{ path('dashboard.departments.add') }}">Add department</a>
                    </div>
                </div>
            </div>

            <div class="column-8">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <span class="long">Name</span>
                                <span class="short">N</span>
                            </th>
                            <th>
                                <span class="long">Head</span>
                                <span class="short">H</span>
                            </th>
                            <th>
                                <span class="long">Faculties</span>
                                <span class="short">F</span>
                            </th>
                            <th>
                                <span class="long">Actions</span>
                                <span class="short">A</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for department in departments %}
                            <tr>
                                <td>{{ department.name }}</td>
                                <td>{{ department.head ? (department.head.last_name ~ ', ' ~ department.head.first_name) : 'N/A' }}</td>
                                <td>{{ department.faculties|length }}</td>
                                <td>
                                    <a href="{{ path('dashboard.departments.view', {id: department.id}) }}">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}