{% extends '/_layout/main-default.html' %}

{% form_theme search_form '/_layout/form-default.html' %}

{% set page_title = department.name %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading">Information</div>
                    <div class="panel-body">
                        {% if department.head %}
                            <table class="borderless colorless">
                                <tbody>
                                    <tr>
                                        <td>Head Name</td>
                                        <td>{{ department.head ? department.head.name : 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Last login</td>
                                        <td>{{ department.head ? department.head.last_login_at : 'N/A' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if auth_user().getRole() == 'admin' %}
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{{ route('dashboard.heads.edit', {id: department.head.id}, false) }}">Edit head</a>
                                    </li>
                                </ul>
                            {% endif %}
                        {% else %}
                            <p>No head assigned</p>
                        {% endif %}
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading"><span class="icon-search"></span> Search Faculty</div>
                    <div class="panel-body">
                        <form method="get" action="{{ route('dashboard.departments.view', {id: department.id}, false) }}">
                            {{ form_widget(search_form) }}

                            <button type="submit"><span class="icon-search"></span> Search</button>
                        </form>
                    </div>
                </div>

                {% if auth_user().getRole() == 'admin' %}
                    <div class="panel">
                        <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ route('dashboard.departments.edit', {id: department.id}, false) }}">Edit department</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            
            <div class="column-8">
                <div class="panel plain">
                    <div class="panel-heading">Faculty</div>
                    <div class="panel-body">
                        {% if result is not empty %}
                            <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                                {% for i in 1..result.lastPage %}
                                    <option value="{{ i }}">Page {{ i }}</option>
                                {% endfor %}
                            </select>

                            <table class="center-align">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="long">Name</span>
                                            <span class="short">N</span>
                                        </th>
                                        <th>
                                            <span class="long">Last Login</span>
                                            <span class="short">L</span>
                                        </th>
                                        <th>
                                            <span class="long">Actions</span>
                                            <span class="short">A</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for faculty in result %}
                                        <tr>
                                            <td>{{ faculty.name }}</td>
                                            <td>{{ faculty.last_login_at }}</td>
                                            <td>
                                                <a href="{{ route('dashboard.faculty.view', {id: faculty.id}, false) }}">View</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No results</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}