{% extends '/_layout/main-default.html' %}

{% form_theme settings_form '/_layout/form-default.html' %}

{% set page_title = 'Settings' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-offset-4 column-4">
                {% if not auth_user().is_required_info_filled %}
                    <div class="alert alert-danger">
                        <p>Please complete your student information to continue.</p>
                        <small>Fields with asterisks * are required to be filled.</small>
                    </div>
                {% endif %}
                <div class="panel">
                    <div class="panel-heading"><span class="icon-settings"></span> Student Information</div>
                    <div class="panel-body">
                        <form method="post" action="{{ app.request.getRequestUri }}">
                            {{ csrf_field() }}
                            {{ form_widget(settings_form) }}

                            <button type="submit" class="success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if display_prompt %}
        <modal :show.sync="true">
            <h3 slot="header">Hi {{ auth_user().first_name | title }}!</h3>
            
            <div slot="body">
                <p>Please complete your student information first before continuing.</p>
            </div>
        </modal>
    {% endif %}
{% endblock %}