{% extends '/_layout/main-default.html' %}

{% form_theme settings_form '/_layout/form-default.html' %}

{% set page_title = 'Settings' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-offset-4 column-4">
                {% if not current_user.getModel().is_required_info_filled %}
                    <div class="alert alert-danger">
                        <p>Please complete your student information to continue.</p>
                        <small>Fields with asterisks * are required to be filled.</small>
                    </div>
                {% endif %}
                <div class="panel">
                    <div class="panel-heading"><span class="icon-settings"></span> Student Information</div>
                    <div class="panel-body">
                        <form method="post" action="{{ app.request.getRequestUri }}">
                            {{ form_widget(settings_form) }}

                            <button type="submit" class="success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <modal :show.sync="{{ current_user.getModel().is_required_info_filled ? 'false' : 'true' }}">
        <h3 slot="header">Hi {{ current_user.getModel().name | title }}!</h3>
        
        <div slot="body">
            <p>Please complete your student information first before continuing.</p>
        </div>
    </modal>
{% endblock %}