{% extends '/_layout/main-default.html' %}

{% form_theme browse_form '/_layout/form-default.html' %}

{% set page_title = 'Top Students' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-3">
                <div class="panel">
                    <div class="panel-heading">Browse</div>
                    <div class="panel-body">
                        <form method="post" action="{{ app.request.getRequestUri }}">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                            {{ form_widget(browse_form) }}

                            <button type="submit">Browse <span class="icon-navigate_next"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column-9">
                <h1>Top Students</h1>

                {% if subject is null and period is null %}
                    <p>Choose from the subject list and period to see top students.</p>
                {% else %}
                    <h3>{{ subject }} &bullet; {{ period|title }}</h3>

                    {% if result is not empty %}
                        <table class="center-align">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="long">Rank</span>
                                        <span class="short">#</span>
                                    </th>
                                    <th>
                                        <span class="long">Name</span>
                                        <span class="short">Name</span>
                                    </th>
                                    <th>
                                        <span class="long">Grade</span>
                                        <span class="short">%</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i,row in result %}
                                    <tr>
                                        <th>{{ i + 1 }}</th>
                                        {% if row.student is not null %}
                                            <td>{{ (row.student.last_name ~ ', ' ~ row.student.first_name ~ ' ' ~ row.student.middle_name|first ~ '.')|title }}</td>
                                        {% else %}
                                            <td>Unknown Student</td>
                                        {% endif %}
                                        <td>{{ row[period ~ '_grade'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No result.</p>
                    {% endif %}
                {% endif %}

                <a href="{{ route('student.index') }}" class="button neutral">Back to my grades</a>
            </div>
        </div>
    </div>
{% endblock %}