{% extends '/_layout/main-default.html' %}

{% form_theme form '/_layout/form-default.html' %}

{% set page_title = 'Edit guidance account' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ form_widget(form) }}
                    
                    <button type="submit" class="success">Save <span class="icon-navigate_next"></span></button>
                    <a href="{{ path('dashboard.guidance.delete', {id: guidance.id}) }}" class="button link" @click.prevent="modals.confirm = true">Delete Account</a>
                </form>
            </div>
        </div>
    </div>

    <modal :show.sync="modals.confirm">
        <h3 slot="header">Confirm action</h3>
        
        <div slot="body">
            <p>Are you sure you want to delete this guidance?</p>
        </div>

        <div slot="footer">
            <form method="post" action="{{ path('dashboard.guidance.delete', {id: guidance.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('guidance.delete') }}" />
                    
                <button type="button" class="neutral" @click="modals.confirm = false">Cancel</button>
                <button type="submit" class="danger">Delete Guidance <span class="icon-navigate_next"></span></button>
            </form>
        </div>
    </modal>
{% endblock %}