{% extends '/_layout/main-default.html' %}

{% set page_title = 'Admin' %}
{% set active_nav = 'admin' %}

{% block content %}
    <div class="container">
        <h1>Administrator</h1>
        <ul>
            <li>
                <a href="{{ path('dashboard.admins') }}">Manage administrator accounts</a>
            </li>
            <li>
                <a href="{{ path('admin.manage.faculty') }}">Manage faculty accounts</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{{ path('admin.departments') }}">Departments</a>
            </li>
            <li>
                <a href="{{ path('faculty.index') }}">Sections</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{{ path('faculty.index') }}">Student list</a>
            </li>
        </ul>
    </div>
{% endblock %}