{% extends '/_layout/main-default.html' %}

{% set page_title = 'Delete student' %}

{% block content %}
    <div class="container">
        <h1>Delete student</h1>

        <div class="grid">
            <div class="column-4">
                <p>Are you sure you want to delete this student?</p>
                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ form_widget(form) }}
                    
                    <a href="{{ path('dashboard.students.edit', {id: student.id}) }}" class="button neutral">Cancel</a>
                    <button type="submit">Delete Student <span class="icon-navigate_next"></span></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}