{% extends '/_layout/main-default.html' %}

{% form_theme form '/_layout/form-default.html' %}

{% set page_title = 'Edit student' %}

{% block content %}
    <div class="container">
        <h1>Edit student</h1>

        <div class="grid">
            <div class="column-4">
                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ csrf_field() }}
                    {{ form_widget(form) }}
                    
                    <button type="submit">Save <span class="icon-navigate_next"></span></button>
                    <a href="{{ route('dashboard.students.delete', {id: student.id}) }}" class="button link" @click.prevent="modals.confirm = true">Delete Student</a>
                </form>
            </div>
        </div>
    </div>

    <modal :show.sync="modals.confirm">
        <h3 slot="header">Confirm action</h3>
        
        <div slot="body">
            <p>Are you sure you want to delete this student?</p>
        </div>

        <div slot="footer">
            <form method="post" action="{{ route('dashboard.students.delete', {id: student.id}) }}">
                {{ csrf_field() }}
                <input type="hidden" name="_confirm" />
                
                <button type="button" class="neutral" @click="modals.confirm = false">Cancel</button>
                <button type="submit" class="danger">Delete Student <span class="icon-navigate_next"></span></button>
            </form>
        </div>
    </modal>
{% endblock %}