{% extends '/_layout/main-default.html' %}

{% set page_title = 'Student information' %}

{% block content %}
    <div class="container">
        <h1>View Student</h1>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading">Information</div>
                    <div class="panel-body">
                        <div class="info-group">
                            <div class="info-item">
                                <p class="title">Student no.</p>
                                <p>{{ student.id|format_student_id }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Name</p>
                                <p>{{ student.name }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Course</p>
                                <p>{{ student.course }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Section</p>
                                <p>{{ student.section }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Mobile number</p>
                                <p>{{ student.mobile_number|default('N/A') }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Landline</p>
                                <p>{{ student.landline|default('N/A') }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Email address</p>
                                <p>{{ student.email_address|default('N/A') }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Address</p>
                                <p>{{ student.address|default('N/A') }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Name of parent/guardian</p>
                                <p>{{ student.guardian_name|default('N/A') }}</p>
                            </div>

                            <div class="info-item">
                                <p class="title">Contact no</p>
                                <p>{{ student.guardian_contact_number|default('N/A') }}</p>
                            </div>
                        </div>

                        {% if student.payment is not null %}
                            <h3>Payment status</h3>

                            <table class="small">
                                <tbody>
                                    <tr>
                                        <td>Prelim</td>
                                        <td>{{ student.payment.prelim }}</td>
                                    </tr>
                                    <tr>
                                        <td>Midterm</td>
                                        <td>{{ student.payment.midterm }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pre-final</td>
                                        <td>{{ student.payment.prefinal }}</td>
                                    </tr>
                                    <tr>
                                        <td>Final</td>
                                        <td>{{ student.payment.final }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>

                {% if auth_user().getRole() == 'admin' %}
                    <div class="panel">
                        <div class="panel-heading">Actions</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ route('dashboard.students.edit', {id: student.id}, false) }}">Edit Student</a>
                                </li>
                                <li>
                                    <a href="{{ route('dashboard.students.payment.edit', {id: student.id}, false) }}">Edit Payment Status</a>   
                                </li>
                                {% if grades is not empty %}
                                    <li>
                                        <a href="{{ route('dashboard.students.grades.edit', {id: student.id}, false) }}">Edit Grades</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="column-8">
                <div class="panel plain">
                    <div class="panel-heading">Grades</div>
                    <div class="panel-body">
                        <table class="center-align">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="long">Subject</span>
                                        <span class="short">Subj</span>
                                    </th>
                                    <th>
                                        <span class="long">Prelim</span>
                                        <span class="short">P</span>
                                    </th>
                                    <th>
                                        <span class="long">Midterm</span>
                                        <span class="short">M</span>
                                    </th>
                                    <th>
                                        <span class="long">Pre-final</span>
                                        <span class="short">PF</span>
                                    </th>
                                    <th>
                                        <span class="long">Final</span>
                                        <span class="short">F</span>
                                    </th>
                                    <th>
                                        <span class="long">EQV</span>
                                        <span class="short">E</span>
                                    </th>
                                    <th>
                                        <span class="long">Updated at</span>
                                        <span class="short">Upd</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for grade in grades %}
                                    <tr>
                                        <th>{{ grade.subject }}</th>
                                        <td class="{{ grade.prelim_grade|grade_class }}">{{ grade.prelim_grade }}</td>
                                        <td class="{{ grade.midterm_grade|grade_class }}">{{ grade.midterm_grade }}</td>
                                        <td class="{{ grade.prefinal_grade|grade_class }}">{{ grade.prefinal_grade }}</td>
                                        <td class="{{ grade.final_grade|grade_class }}">{{ grade.final_grade }}</td>
                                        <td class="{{ grade.actual_grade|grade_class }}">{{ grade.actual_grade }}</td>
                                        <td>{{ grade.updated_at|date('M d, Y h:i A') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="7">Nothing to see here yet.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                    
                <div class="panel plain">
                    <div class="panel-heading">Attendance summary</div>
                    <div class="panel-body">
                        <ul class="tabs" data-activated-tab="{{ active_period }}">
                            <li @click="activateTab(0)" :class="{'active': activeTab == 0}">Prelim</li>
                            <li @click="activateTab(1)" :class="{'active': activeTab == 1}">Midterm</li>
                            <li @click="activateTab(2)" :class="{'active': activeTab == 2}">Prefinal</li>
                            <li @click="activateTab(3)" :class="{'active': activeTab == 3}">Final</li>
                        </ul>

                        <table class="center-align">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="long">Subject</span>
                                        <span class="short">Subj</span>
                                    </th>
                                    <th>
                                        <span class="long">Total class hours</span>
                                        <span class="short">TCH</span>
                                    </th>
                                    <th>
                                        <span class="long">Hours absent</span>
                                        <span class="short">HA</span>
                                    </th>
                                </tr>
                            </thead>

                            {% if grades is empty %}
                                <tbody>
                                    <tr>
                                        <td colspan="3">Nothing to see here yet.</td>
                                    </tr>
                                </tbody>
                            {% else %}
                                <tbody v-show="activeTab == 0">
                                    {% for grade in grades %}
                                        <tr>
                                            <th>{{ grade.subject }}</th>
                                            <td>{{ grade.prelim_presences }}</td>
                                            <td>{{ grade.prelim_absences }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                                <tbody v-show="activeTab == 1">
                                    {% for grade in grades %}
                                        <tr>
                                            <th>{{ grade.subject }}</th>
                                            <td>{{ grade.midterm_presences }}</td>
                                            <td>{{ grade.midterm_absences }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                                <tbody v-show="activeTab == 2">
                                    {% for grade in grades %}
                                        <tr>
                                            <th>{{ grade.subject }}</th>
                                            <td>{{ grade.prefinal_presences }}</td>
                                            <td>{{ grade.prefinal_absences }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                                <tbody v-show="activeTab == 3">
                                    {% for grade in grades %}
                                        <tr>
                                            <th>{{ grade.subject }}</th>
                                            <td>{{ grade.final_presences }}</td>
                                            <td>{{ grade.final_absences }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}