{% extends '/_layout/main-default.html' %}

{% form_theme form '/_layout/form-default.html' %}

{% set page_title = 'Email Delivery Settings' %}

{% set active_menu = 'emaildelivery' %}

{% block content %}
    <div class="container">
        <div class="grid">
            {% include '/dashboard/settings/menu.html' %}

            <div class="column-9">
                <h1>Email Delivery Settings</h1>

                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ csrf_field() }}
                    {{ form_widget(form) }}

                    <button type="submit" class="success">Save <span class="icon-navigate_next"></span></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}