{% extends '/_layout/main-default.html' %}

{% form_theme search_form '/_layout/form-default.html' %}

{% set page_title = 'Faculties' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-12">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading"><span class="icon-search"></span> Search Head</div>
                    <div class="panel-body">
                        <form method="get" action="{{ path('dashboard.heads.search') }}">
                            {{ form_widget(search_form) }}

                            <button type="submit"><span class="icon-search"></span> Search</button>
                        </form>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <a href="{{ path('dashboard.heads.add') }}">Add new head account</a>
                    </div>
                </div>
            </div>

            <div class="column-8">
                <select name="pages" v-on:change="changePaginationPage" v-model="paginationPage">
                    {% for i in 1..result.last_page %}
                        <option value="{{ i }}">Page {{ i }}</option>
                    {% endfor %}
                </select>

                <table>
                    <thead>
                        <tr>
                            <th>
                                <span class="long">Name</span>
                                <span class="short">N</span>
                            </th>
                            <th>
                                <span class="long">Department</span>
                                <span class="short">C</span>
                            </th>
                            <th>
                                <span class="long">Last Login</span>
                                <span class="short">L</span>
                            </th>
                            <th>
                                <span class="long">Actions</span>
                                <span class="short">A</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in result.data %}
                            <tr>
                                <td>{{ row.name }}</td>
                                <td>{{ row.department ? row.department.name : 'Unassigned' }}</td>
                                <td>{{ row.last_login_at }}</td>
                                <td>
                                    <a href="{{ path('dashboard.heads.edit', {id: row.id}) }}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}