{% extends '/_layout/main-default.html' %}

{% form_theme search_form '/_layout/form-default.html' %}

{% set page_title = 'Manage Faculty Accounts' %}
{% set active_nav = 'admin' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-12">
                <h1>Faculty Accounts</h1>
            </div>
        </div>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading"><span class="icon-search"></span> Search Faculty</div>
                    <div class="panel-body">
                        <form method="get" action="{{ path('admin.manage.faculty.search') }}">
                            {{ form_widget(search_form) }}

                            <button type="submit"><span class="icon-search"></span> Search</button>
                        </form>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <a href="{{ path('admin.manage.faculty.add') }}" class="button neutral">Add new faculty account</a>
                    </div>
                </div>
            </div>

            <div class="column-8">
                <select name="pages" v-on:change="changePaginationPage" v-model="paginationPage">
                    {% for i in 1..last_page %}
                        <option value="{{ i }}">Page {{ i }}</option>
                    {% endfor %}
                </select>

                <table>
                    <thead>
                        <tr>
                            <th>
                                <span class="long">Username</span>
                                <span class="short">U</span>
                            </th>
                            <th>
                                <span class="long">Name</span>
                                <span class="short">N</span>
                            </th>
                            <th>
                                <span class="long">Department</span>
                                <span class="short">D</span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in result %}
                            <tr>
                                <td>{{ row.username }}</td>
                                <td>{{ row.last_name ~ ', ' ~ row.first_name }}</td>
                                <td>{{ row.department }}</td>
                                <td>
                                    <a href="{{ path('admin.manage.faculty.edit', {id: row.id}) }}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}