{% extends '/_layout/main-default.html' %}

{% set page_title = 'OMEGA import wizard' %}

{% block content %}
    <div class="container">
        <h1><span class="icon-file_upload"></span> {{ page_title }}</h1>

        <div class="grid">
            {% include '/dashboard/import/omega/steps.html' %}

            <div class="column-9">
                <div class="panel">
                    <div class="panel-heading">Finished</div>
                    <div class="panel-body">
                        <div>
                            OMEGA import task is now processing in background.
                        </div>
                        <p><a href="{{ route('dashboard.index', {}, false) }}">Back to home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}