{% extends '/_layout/main-default.html' %}

{% set page_title = 'Delete faculty account' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <p>Are you sure you want to delete <strong>{{ faculty.name }}</strong>?</p>
                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ csrf_field() }}
                    {{ form_widget(form) }}
                    
                    <a href="{{ route('dashboard.faculty.edit', {id: faculty.id}, false) }}" class="button neutral">Cancel</a>
                    <button type="submit" class="danger">Delete Faculty <span class="icon-navigate_next"></span></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}