{% extends '/_layout/main-default.html' %}

{% set page_title = 'Faculty summary' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>
        
        <div class="grid">
            <div class="column-3 print-invisible">
                <div class="panel">
                    <div class="panel-heading">Filter result</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="period">Period</label>
                            <select v-model="summaryTabs.period" id="period">
                                <option value="prelim">Prelim</option>
                                <option value="midterm">Midterm</option>
                                <option value="prefinal">Prefinal</option>
                                <option value="final">Final</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="status">Status</label>
                            <select v-model="summaryTabs.status" id="status">
                                <option value="all">All</option>
                                <option value="Submitted">Submitted</option>
                                <option value="Submitted late">Submitted late</option>
                                <option value="Never submitted">Never submitted</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="remark">Remarks</label>
                            <select v-model="summaryTabs.remark" id="remark">
                                <option value="all">All</option>
                                <option value="1">Valid</option>
                                <option value="0">Invalid</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column-9">
                <table class="center-align printable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Remarks</th>
                            <th>Failed</th>
                            <th>Dropped</th>
                            <th class="print-invisible">Report</th>
                        </tr>
                    </thead>
                    {% for i, period in ['prelim', 'midterm', 'prefinal', 'final'] %}
                        <tbody v-show="summaryTabs.period == '{{ period }}'">
                            {% for faculty in faculty %}
                                <tr v-show="(summaryTabs.status == 'all' || summaryTabs.status == '{{ faculty.getStatusAttribute(period) }}') && (summaryTabs.remark == 'all' || summaryTabs.remark == {{ faculty.is_valid }})">
                                    <td>{{ faculty.name }}</td>
                                    <td>{{ faculty.getStatusAttribute(period) }}</td>
                                    <td>{{ faculty.is_valid ? 'Valid' : 'Invalid' }}</td>
                                    <td>{{ faculty.getNumberOfFailsAttribute(period) }}</td>
                                    <td>{{ faculty.getNumberOfDropsAttribute(period) }}</td>
                                    <td class="print-invisible"><a href="{{ path('dashboard.faculty.view', {id: faculty.id}) }}">View</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>

                <button @click="printDocument()" class="print-invisible">Print Document</button>
            </div>
        </div>
    </div>
{% endblock %}