{% extends '/_layout/main-default.html' %}

{% set page_title = 'Faculty summary' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }} <span class="print-visible">for {{ "{{ summaryTabs.period | capitalize }}" }} period</span></h1>

        {% if settings('semester') and settings('academic_year') %}
            <p>{{ settings('semester')|capitalize }}. Academic year {{ settings('academic_year') }}.</p>
        {% else %}
            <p class="print-invisible"><em>Semester and academic year settings are not set.</em></p>
        {% endif %}
        
        <div class="grid">
            <div class="column-3 print-invisible">
                <div class="panel">
                    <div class="panel-heading">Filter result</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="period">Period</label>
                            <select v-model="summaryTabs.period" id="period">
                                <option value="prelim">Prelim</option>
                                <option value="midterm">Midterm</option>
                                <option value="prefinal">Pre-final</option>
                                <option value="final">Final</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="status">Status</label>
                            <select v-model="summaryTabs.status" id="status">
                                <option value="all">All</option>
                                <option value="Submitted">Submitted</option>
                                <option value="Submitted late">Submitted late</option>
                                <option value="Never submitted">Never submitted</option>
                            </select>
                        </div>

                        <p class="print-invisible">
                            <a @click.prevent="printDocument()" href="#">Print Document</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="column-9">
                <table class="center-align printable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Failed</th>
                            <th class="print-invisible">Report</th>
                        </tr>
                    </thead>
                    {% for i, period in ['prelim', 'midterm', 'prefinal', 'final'] %}
                        <tbody v-show="summaryTabs.period == '{{ period }}'">
                            {% for faculty in faculty %}
                                <tr v-show="summaryTabs.status == 'all' || summaryTabs.status == '{{ faculty.getStatus(period) }}'">
                                    <td>{{ faculty.name }}</td>
                                    <td>{{ faculty.getStatus(period) }}</td>
                                    <td>{{ faculty.getFailedCount(period) }}</td>
                                    <td class="print-invisible"><a href="{{ route('dashboard.faculty.view', {id: faculty.id}, false) }}">View</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">No results found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>

                <button @click="printDocument()" class="print-invisible">Print Document</button>
            </div>
        </div>
    </div>
{% endblock %}