{% extends '/_layout/main-default.html' %}

{% set page_title = 'View faculty report' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading">Information</div>
                    <div class="panel-body">
                        <table class="borderless colorless">
                            <tbody>
                                <tr>
                                    <td>Last Name</td>
                                    <td>{{ faculty.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>First Name</td>
                                    <td>{{ faculty.first_name }}</td>
                                </tr>
                                <tr>
                                    <td>Middle Name</td>
                                    <td>{{ faculty.middle_name }}</td>
                                </tr>
                                <tr>
                                    <td>Department</td>
                                    <td>{{ faculty.department ? faculty.department.name : 'Unassigned' }}</td>
                                </tr>
                                <tr>
                                    <td>Last login</td>
                                    <td>{{ faculty.last_login_at }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ faculty.status }}</td>
                                </tr>
                                <tr>
                                    <td>Failed</td>
                                    <td>{{ faculty.number_of_fails }}</td>
                                </tr>
                                <tr>
                                    <td>Dropped</td>
                                    <td>{{ faculty.number_of_drops }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Section report</div>
                    <div class="panel-body">
                        <ul class="tabs" data-activated-tab="{{ active_period }}">
                            <li v-on:click="activateTab(0)" v-bind:class="{'active': activeTab == 0}">Prelim</li>
                            <li v-on:click="activateTab(1)" v-bind:class="{'active': activeTab == 1}">Midterm</li>
                            <li v-on:click="activateTab(2)" v-bind:class="{'active': activeTab == 2}">Prefinal</li>
                            <li v-on:click="activateTab(3)" v-bind:class="{'active': activeTab == 3}">Final</li>
                        </ul>

                        <table class="center-align">
                            <thead>
                                <tr>
                                    <th>Section</th>
                                    <th>No. of students</th>
                                    <th>Without grades</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for section in sections %}
                                    <tr>
                                        <td>{{ section.id }}</td>
                                        <td>{{ section.student_count }}</td>
                                        <td>
                                            <span v-show="activeTab == 0">{{ section.student_without_grades_count.prelim }}</span>
                                            <span v-show="activeTab == 1">{{ section.student_without_grades_count.midterm }}</span>
                                            <span v-show="activeTab == 2">{{ section.student_without_grades_count.prefinal }}</span>
                                            <span v-show="activeTab == 3">{{ section.student_without_grades_count.final }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}