{% extends '/_layout/main-default.html' %}

{% set page_title = 'Grades import wizard' %}

{% block content %}
    <div class="container">
        <h1><span class="icon-file_upload"></span> {{ page_title }}</h1>

        <div class="grid">
            {% include '/dashboard/import/grades/steps.html' %}

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Report</div>
                    <div class="panel-body">
                        <div class="alert alert-info">
                            Your grading sheet was successfully uploaded. Below is the upload report.
                        </div>

                        <table class="center-align">
                            <tbody>
                                <tr>
                                    <td>Subject: {{ report.getSubject() }}</td>
                                    <td>Section: {{ report.getSection() }}</td>
                                    <td>Records Uploaded: {{ uploaded }}</td>
                                </tr>
                            </tbody>
                        </table>

                        {% if report.getNoGrades() %}
                            <h3>Invalid records:</h3>

                            <table class="center-align">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="long">Student #</span>
                                            <span class="short">#</span>
                                        </th>
                                        <th>
                                            <span class="long">Name</span>
                                            <span class="short">N</span>
                                        </th>
                                        <th>
                                            <span class="long">Remark</span>
                                            <span class="short">R</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for row in report.getNoGrades() %}
                                        <tr>
                                            <td>{{ row.id|format_student_id }}</td>
                                            <td>{{ row.name }}</td>
                                            <td>{{ row.remark }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% for row in report.getNoStudents() %}
                                        <tr>
                                            <td>{{ row.id|format_student_id }}</td>
                                            <td>{{ row.name }}</td>
                                            <td>{{ row.remark }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        <form method="post" action="{{ app.request.getRequestUri }}" @submit="disableAction = true">
                            {{ csrf_field() }}
                            {{ form_widget(confirm_form) }}

                            <div class="buttons">
                                <button type="submit" class="success" :disabled="disableAction">Finish <span class="icon-navigate_next"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}