{% extends '/_layout/main-default.html' %}

{% set page_title = 'Grades import wizard' %}

{% block content %}
    <div class="container">
        <h1><span class="icon-file_upload"></span> {{ page_title }}</h1>

        <div class="grid">
            {% include '/dashboard/import/grades/steps.html' %}

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Finished</div>
                    <div class="panel-body">
                        <div>Import task has been added to queue. Changes will take effect shortly.</div>
                        <p><a href="{{ route('dashboard.index', {}, false) }}">Back to home</a></p>
                        <p><a href="{{ route('dashboard.import.grades', {}, false) }}">Import another grades</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}