{% extends '/_layout/main-default.html' %}

{% form_theme search_form '/_layout/form-default.html' %}

{% if composer_form is defined %}
    {% form_theme compose_form '/_layout/form-default.html' %}
{% endif %}

{% set page_title = 'Memos' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading"><span class="icon-search"></span> Search Memo</div>
                    <div class="panel-body">
                        <form method="get" action="{{ path('dashboard.memos') }}">
                            {{ form_widget(search_form) }}

                            <button type="submit"><span class="icon-search"></span> Search</button>
                        </form>
                    </div>
                </div>

                {% if current_user.getRole() == 'admin' %}
                    <div class="panel">
                        <div class="panel-heading">Create memo</div>
                        <div class="panel-body">
                            <form method="get" action="{{ path('dashboard.memos.send') }}">
                                {{ form_widget(compose_form) }}

                                <button type="submit">Compose</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="column-8">
                {% if result.data is empty %}
                    <div class="alert alert-neutral">No records found</div>
                {% else %}
                    <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                        {% for i in 1..result.last_page %}
                            <option value="{{ i }}">Page {{ i }}</option>
                        {% endfor %}
                    </select>

                    <table class="center-align">
                        <thead>
                            <tr>
                                {% if current_user.getRole() != 'faculty' %}
                                    <th>
                                        <span class="long">Recipient</span>
                                        <span class="short">R</span>
                                    </th>
                                {% endif %}
                                <th>
                                    <span class="long">Subject</span>
                                    <span class="short">S</span>
                                </th>
                                {% if current_user.getRole() != 'faculty' %}
                                    <th>
                                        <span class="long">Sender</span>
                                        <span class="short">S</span>
                                    </th>
                                {% endif %}
                                <th>
                                    <span class="long">Actions</span>
                                    <span class="short">A</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in result.data %}
                                <tr{{ row.is_unread ? ' class="emphasize"' : '' }}>
                                    {% if current_user.getRole() != 'faculty' %}
                                        <td>{{ row.faculty.name }}</td>
                                    {% endif %}

                                    <td>{{ row.subject }}</td>

                                    {% if current_user.getRole() != 'faculty' %}
                                        <td>{{ row.admin_id ? row.admin.name : 'N/A' }}</td>
                                    {% endif %}
                                    
                                    <td>
                                        <a href="{{ path('dashboard.memos.view', {id: row.id}) }}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}