{% extends '/_layout/main-default.html' %}

{% set page_title = 'Compare grades' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        {% if result.data is empty %}
            <div class="alert alert-neutral">No records found</div>
        {% else %}
            <select name="pages" class="print-invisible" @change="changePaginationPage" v-model="paginationPage">
                {% for i in 1..result.last_page %}
                    <option value="{{ i }}">Page {{ i }}</option>
                {% endfor %}
            </select>

            <table class="center-align printable">
                <thead>
                    <tr>
                        <th rowspan="2">
                            <span class="long">#</span>
                            <span class="short">#</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Name</span>
                            <span class="short">N</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Importer</span>
                            <span class="short">I</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Section</span>
                            <span class="short">S</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Subject</span>
                            <span class="short">S</span>
                        </th>
                        <th colspan="4">Database</th>
                        <th colspan="4">Uploaded CSV</th>
                    </tr>

                    <tr>
                        <th class="has-parent">
                            <span class="long">Prelim</span>
                            <span class="short">P</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Midterm</span>
                            <span class="short">M</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Pre-final</span>
                            <span class="short">PF</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Final</span>
                            <span class="short">F</span>
                        </th>

                        <th class="has-parent">
                            <span class="long">Prelim</span>
                            <span class="short">P</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Midterm</span>
                            <span class="short">M</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Pre-final</span>
                            <span class="short">PF</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Final</span>
                            <span class="short">F</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for i, diff in result.data %}
                        <tr>
                            <td>{{ diff.target.student_id }}</td>
                            <td>{{ diff.target.student ? diff.target.student.name : 'N/A' }}</td>
                            <td>{{ diff.target.importer ? diff.target.importer.name : 'N/A' }}</td>
                            <td>{{ diff.target.section }}</td>
                            <td>{{ diff.target.subject }}</td>
                                    
                            {% if diff.source is not null %}
                                <td class="text-bold {{ diff.target.prelim_grade == diff.source.prelim_grade ? 'color-success' : 'color-danger' }}">{{ diff.target.prelim_grade == diff.source.prelim_grade ? 'OK' : diff.target.prelim_grade }}</td>
                                <td class="text-bold {{ diff.target.midterm_grade == diff.source.midterm_grade ? 'color-success' : 'color-danger' }}">{{ diff.target.midterm_grade == diff.source.midterm_grade ? 'OK' : diff.target.midterm_grade }}</td>
                                <td class="text-bold {{ diff.target.prefinal_grade == diff.source.prefinal_grade ? 'color-success' : 'color-danger' }}">{{ diff.target.prefinal_grade == diff.source.prefinal_grade ? 'OK' : diff.target.prefinal_grade }}</td>
                                <td class="text-bold {{ diff.target.final_grade == diff.source.final_grade ? 'color-success' : 'color-danger' }}">{{ diff.target.final_grade == diff.source.final_grade ? 'OK' : diff.target.final_grade }}</td>

                                <td class="text-bold {{ diff.source.prelim_grade == diff.target.prelim_grade ? 'color-success' : 'color-danger' }}">{{ diff.source.prelim_grade == diff.target.prelim_grade ? 'OK' : diff.source.prelim_grade }}</td>
                                <td class="text-bold {{ diff.source.midterm_grade == diff.target.midterm_grade ? 'color-success' : 'color-danger' }}">{{ diff.source.midterm_grade == diff.target.midterm_grade ? 'OK' : diff.source.midterm_grade }}</td>
                                <td class="text-bold {{ diff.source.prefinal_grade == diff.target.prefinal_grade ? 'color-success' : 'color-danger' }}">{{ diff.source.prefinal_grade == diff.target.prefinal_grade ? 'OK' : diff.source.prefinal_grade }}</td>
                                <td class="text-bold {{ diff.source.final_grade == diff.target.final_grade ? 'color-success' : 'color-danger' }}">{{ diff.source.final_grade == diff.target.final_grade ? 'OK' : diff.source.final_grade }}</td>
                            {% else %}
                                <td class="color-warning">{{ diff.target.prelim_grade }}</td>
                                <td class="color-warning">{{ diff.target.midterm_grade }}</td>
                                <td class="color-warning">{{ diff.target.prefinal_grade }}</td>
                                <td class="color-warning">{{ diff.target.final_grade }}</td>

                                <td colspan="4" class="color-warning">Grade entry not found</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button @click="printDocument()" class="print-invisible">Print document</button>
        {% endif %}
    </div>
{% endblock %}