{% extends '/_layout/main-default.html' %}

{% set page_title = 'Compare grades' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        {% if result.data is empty %}
            <div class="alert alert-neutral">No records found</div>
        {% else %}
            <select name="pages" class="print-invisible" @change="changePaginationPage" v-model="paginationPage">
                {% for i in 1..result.last_page %}
                    <option value="{{ i }}">Page {{ i }}</option>
                {% endfor %}
            </select>

            <table class="center-align printable">
                <thead>
                    <tr>
                        <th rowspan="2">
                            <span class="long">#</span>
                            <span class="short">#</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Name</span>
                            <span class="short">N</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Importer</span>
                            <span class="short">I</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Section</span>
                            <span class="short">S</span>
                        </th>
                        <th rowspan="2">
                            <span class="long">Subject</span>
                            <span class="short">S</span>
                        </th>
                        <th colspan="4">Database</th>
                        <th colspan="4">Uploaded CSV</th>
                    </tr>

                    <tr>
                        <th class="has-parent">
                            <span class="long">Prelim</span>
                            <span class="short">P</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Midterm</span>
                            <span class="short">M</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Pre-final</span>
                            <span class="short">PF</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Final</span>
                            <span class="short">F</span>
                        </th>

                        <th class="has-parent">
                            <span class="long">Prelim</span>
                            <span class="short">P</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Midterm</span>
                            <span class="short">M</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Pre-final</span>
                            <span class="short">PF</span>
                        </th>
                        <th class="has-parent">
                            <span class="long">Final</span>
                            <span class="short">F</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for i, diff in result.data %}
                        <tr>
                            <td>{{ diff.student_id }}</td>
                            <td></td>
                            <td></td>
                            <td>{{ diff.section }}</td>
                            <td>{{ diff.subject }}</td>
                                    
                            {% if diff.source_hash is not null %}
                                <td class="text-bold {{ diff.target_prelim_grade == diff.source_prelim_grade ? 'color-success' : 'color-danger' }}">{{ diff.target_prelim_grade == diff.source_prelim_grade ? 'OK' : diff.target_prelim_grade | format_grade }}</td>
                                <td class="text-bold {{ diff.target_midterm_grade == diff.source_midterm_grade ? 'color-success' : 'color-danger' }}">{{ diff.target_midterm_grade == diff.source_midterm_grade ? 'OK' : diff.target_midterm_grade | format_grade }}</td>
                                <td class="text-bold {{ diff.target_prefinal_grade == diff.source_prefinal_grade ? 'color-success' : 'color-danger' }}">{{ diff.target_prefinal_grade == diff.source_prefinal_grade ? 'OK' : diff.target_prefinal_grade | format_grade }}</td>
                                <td class="text-bold {{ diff.target_final_grade == diff.source_final_grade ? 'color-success' : 'color-danger' }}">{{ diff.target_final_grade == diff.source_final_grade ? 'OK' : diff.target_final_grade | format_grade }}</td>

                                <td class="text-bold {{ diff.source_prelim_grade == diff.target_prelim_grade ? 'color-success' : 'color-danger' }}">{{ diff.source_prelim_grade == diff.target_prelim_grade ? 'OK' : diff.source_prelim_grade | format_grade }}</td>
                                <td class="text-bold {{ diff.source_midterm_grade == diff.target_midterm_grade ? 'color-success' : 'color-danger' }}">{{ diff.source_midterm_grade == diff.target_midterm_grade ? 'OK' : diff.source_midterm_grade | format_grade }}</td>
                                <td class="text-bold {{ diff.source_prefinal_grade == diff.target_prefinal_grade ? 'color-success' : 'color-danger' }}">{{ diff.source_prefinal_grade == diff.target_prefinal_grade ? 'OK' : diff.source_prefinal_grade | format_grade }}</td>
                                <td class="text-bold {{ diff.source_final_grade == diff.target_final_grade ? 'color-success' : 'color-danger' }}">{{ diff.source_final_grade == diff.target_final_grade ? 'OK' : diff.source_final_grade | format_grade }}</td>
                            {% else %}
                                <td class="color-warning">{{ diff.target_prelim_grade|format_grade }}</td>
                                <td class="color-warning">{{ diff.target_midterm_grade|format_grade }}</td>
                                <td class="color-warning">{{ diff.target_prefinal_grade|format_grade }}</td>
                                <td class="color-warning">{{ diff.target_final_grade|format_grade }}</td>

                                <td colspan="4" class="color-warning">Grade entry not found</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button @click="printDocument()" class="print-invisible">Print document</button>
        {% endif %}
    </div>
{% endblock %}