{% extends '/_layout/main-default.html' %}

{% form_theme choose_form '/_layout/form-default.html' %}

{% set page_title = 'Grades import wizard' %}

{% block content %}
    <div class="container">
        <h1><span class="icon-file_upload"></span> {{ page_title }}</h1>

        <div class="grid">
            {% include '/dashboard/grades/import/steps.html' %}

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Choose sheets to import</div>
                    <div class="panel-body">
                        <form method="post" action="{{ app.request.getRequestUri }}" @submit="disableAction = true">
                            {{ form_widget(choose_form) }}

                            <div class="buttons">
                                <a href="{{ path('dashboard.grades.import.1') }}" class="button neutral" :disabled="disableAction"><span class="icon-navigate_before"></span> Back</a>
                                <button type="submit" class="success" :disabled="disableAction">Next <span class="icon-navigate_next"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}