{% extends '/_layout/main-default.html' %}

{% set page_title = 'Student Information - Faculty' %}
{% set active_nav = 'students' %}

{% block content %}
    <div class="container">
        <h1>Edit Student Grades</h1>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading">Student Information</div>
                    <div class="panel-body">
                        <table class="borderless colorless">
                            <tbody>
                                <tr class="left-align">
                                    <td>Student #</td>
                                    <td>{{ student.id }}</td>
                                </tr>
                                <tr class="left-align">
                                    <td>Last Name</td>
                                    <td>{{ student.last_name }}</td>
                                </tr>
                                <tr class="left-align">
                                    <td>First Name</td>
                                    <td>{{ student.first_name }}</td>
                                </tr>
                                <tr class="left-align">
                                    <td>Middle Name</td>
                                    <td>{{ student.middle_name }}</td>
                                </tr>
                                <tr class="left-align">
                                    <td>Course</td>
                                    <td>{{ student.course }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Grades</div>
                    <div class="panel-body">
                        You are in grades edit page. Only number values and <em>INC</em> are allowed. Please leave blank if the grade is currently not available.
                    </div>
                </div>
                
                <form action="{{ app.request.getRequestUri }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('student.grades.edit') }}" />

                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <span class="long">Subject</span>
                                    <span class="short">Subj</span>
                                </th>
                                <th>
                                    <span class="long">Prelim</span>
                                    <span class="short">1</span>
                                </th>
                                <th>
                                    <span class="long">Midterm</span>
                                    <span class="short">2</span>
                                </th>
                                <th>
                                    <span class="long">Pre-final</span>
                                    <span class="short">3</span>
                                </th>
                                <th>
                                    <span class="long">Final</span>
                                    <span class="short">4</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for grade in grades %}
                                <tr>
                                    <th>{{ grade.subject }}</th>
                                    <td>
                                        <input type="input" class="grade-edit-input" name="subjects[{{ grade.subject }}][prelim]" value="{{ grade.prelim is not null and grade.prelim == 0 ? 'INC' : grade.prelim }}" autocomplete="off" />
                                    </td>
                                    <td>
                                        <input type="input" class="grade-edit-input" name="subjects[{{ grade.subject }}][midterm]" value="{{ grade.midterm is not null and grade.midterm == 0 ? 'INC' : grade.midterm }}" autocomplete="off" />
                                    </td>
                                    <td>
                                        <input type="input" class="grade-edit-input" name="subjects[{{ grade.subject }}][prefinal]" value="{{ grade.prefinal is not null and grade.prefinal == 0 ? 'INC' : grade.prefinal }}" autocomplete="off" />
                                    </td>
                                    <td>
                                        <input type="input" class="grade-edit-input" name="subjects[{{ grade.subject }}][final]" value="{{ grade.final is not null and grade.final == 0 ? 'INC' : grade.final }}" autocomplete="off" />
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('faculty.students.view', {id: student.id}) }}" class="button danger">Discard Changes</a>
                    <button type="submit" class="button success">Save Changes</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}