{% extends '/_layout/main-default.html' %}

{% form_theme upload_form '/_layout/form-default.html' %}

{% set page_title = 'Google Auth Settings' %}

{% set active_menu = 'googleauth' %}

{% block content %}
    <div class="container">
        <div class="grid">
            {% include '/dashboard/settings/menu.html' %}

            <div class="column-9">
                <h2>Client Secret &mdash; Google Auth Settings</h2>

                {% if not has_client_secret or identifer is null %}
                    <div class="alert alert-warning">
                        Client secret is not configured yet. You will not be able to use Google API.
                    </div>
                {% else %}
                    <p>Client secret is configured with {{ identifer }}.</p>
                {% endif %}

                <h3>Upload client secret file</h3>

                <form method="post" action="{{ app.request.getRequestUri }}" enctype="multipart/form-data" @submit="disableAction = true">
                    {{ csrf_field() }}
                    {{ form_widget(upload_form) }}

                    <button type="submit" class="success" :disabled="disableAction">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}