<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--
    ╭──────────────────────────────────────────╮
    │        Front-end & Back-end Dev't        │
    ╞══════════════════════════════════════════╡
    │             RAPHAEL MARCO                │
    │                                          │
    │           pinodex.github.io              │
    │        raphaelmarco@outlook.com          │
    ╰──────────────────────────────────────────╯
    -->
    <meta name="description" content="View your grades online." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="{{ page_title }} - STI College Novaliches" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:description" content="View your grades online." />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}/assets/img/og-image.png" />
    {% if app.debug %}
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="/assets/css/main.min.css" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <title>{{ page_title }} - STI College Novaliches</title>
</head>
<body class="{{ body_class | default('') }}" id="app">
    <div class="top-bar{{ current_user is null ? ' not-logged-in' }}">
        <div class="container">
            <button class="nav-toggle" v-on:click="toggleNav()">
                <span class="icon-menu"></span>
            </button>
            
            <div class="logo-area">
                <img src="/assets/img/logo-horizontal.png" alt="Logo" />
            </div>

            <nav v-bind:class="{'active': isNavActive}">
                {% if current_user is not null %}
                    <ul class="left">
                        {% if current_user.getRole() != 'student' %}
                            <li>
                                <a href="{{ path('dashboard.index') }}">Dashboard</a>
                            </li>
                        {% elseif current_user.getRole() == 'student' %}
                            <li>
                                <a href="{{ path('student.index') }}">Student</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="right">
                        {% if current_user.getRole() != 'student' %}
                            <li>
                                <a href="{{ path('dashboard.account') }}">
                                    <span class="icon-settings"></span>
                                    <strong>{{ current_user.getModel.name }}</strong>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('student.account') }}">
                                    <span class="icon-settings"></span>
                                    <strong>{{ current_user.getModel.name }}</strong>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('site.logout', {_token: csrf_token('logout')}) }}">Logout</a>
                        </li>
                    </ul>
                {% endif %}
            </nav>
        </div>
    </div>

    <div id="page-content">
        <div class="container">
            {% for error in flashbag('messages') %}
                <div class="alert alert-{{ error|split('>>>')[0] }}">{{ error|split('>>>')[1] }}</div>
            {% endfor %}
        </div>

        {% block content %}{% endblock %}
    </div>

    {% if app.debug %}
        <script src="/assets/js/vue.js"></script>
        <script src="/assets/js/app.js"></script>
    {% else %}
        <script src="/assets/js/compiled.js"></script>
    {% endif %}
</body>
</html>