{% extends '/_layout/main-default.html' %}

{% set page_title = 'Credits' %}

{% block content %}
    <div class="container">
        <h1>Credits</h1>

        <div class="grid">
            <div class="column-4">
                <div class="credit-item">
                    <h2>Mr. Noriel Domondon</h2>
                    <p>Supervised the website development.</p>
                </div>

                <div class="credit-item">
                    <h2>Mr. Emmanuel Globio</h2>
                    <p>Worked on ideas in building the website.</p>
                </div>

                <div class="credit-item">
                    <h2>Raphael Marco</h2>
                    <p>Worked on front-end and back-end development of the website. <em><a href="http://pinodex.github.io">Visit portfolio</a></em></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}