{% extends '/_layout/main-default.html' %}

{% form_theme login_form '/_layout/form-default.html' %}

{% set page_title = 'Login' %}
{% set body_class = 'login-page' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-4 column-offset-4">
                <h1><span class="icon-lock"></span> Login</h1>

                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ form_errors(login_form) }}
                    {{ form_widget(login_form._token) }}
                        
                    <div class="fancy-input">
                        <label for="id">
                            <span class="icon-user"></span>
                        </label>
                        {{ form_widget(login_form.id) }}
                    </div>

                    <div class="fancy-input">
                        <label for="password">
                            <span class="icon-key"></span>
                        </label>
                        {{ form_widget(login_form.password) }}
                    </div>

                    <div class="align-right">
                        <button type="button" class="link" @click="modals.helpBox = true">Help</button>
                        <button type="submit">Login <span class="icon-arrow_forward"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <modal :show.sync="modals.helpBox">
        <h3 slot="header">Login instructions</h3>
        
        <div slot="body">
            <ol>
                <li>Enter student number. Both hyphenated <em>(021-2016-1234)</em> and non-hyphenated <em>(02120161234)</em> formats are accepted.</li>
                <li>Enter your middle name as the password. If it doesn't work, try entering your middle initial.</li>
                <li>If you are still unable to login, you may visit the Academic Head Office and look for Mr. Noriel Domondon</li>
            </ol>
        </div>
    </modal>
{% endblock %}