{% extends '/_layout/main-default.html' %}

{% form_theme login_form '/_layout/form-default.html' %}

{% set page_title = 'Login' %}
{% set body_class = 'login-page' %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="column-4 column-offset-4">
                <h1 class="page-title"><span class="icon-lock"></span> Login</h1>

                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ form_errors(login_form) }}
                    {{ csrf_field() }}

                    <div class="fancy-input">
                        <label for="id">
                            <span class="icon-user"></span>
                        </label>
                        {{ form_widget(login_form.id) }}
                    </div>

                    <div class="fancy-input">
                        <label for="password">
                            <span class="icon-key"></span>
                        </label>
                        {{ form_widget(login_form.password) }}
                    </div>

                    <div class="align-right">
                        <button type="button" class="link" @click="modals.helpBox = true">Help</button>
                        <button type="submit">Login <span class="icon-arrow_forward"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if session_get('account_locked') %}
        <modal :show.sync="true">
            <h3 slot="header">Your account is temporarily locked</h3>
            
            <div slot="body">
                <p>Security restrictions has been placed to your account. Please visit the Academic Head Office and look for Mr. Noriel Domondon for assistance.</p>
            </div>
        </modal>
    {% endif %}

    <modal :show.sync="modals.helpBox">
        <h2 slot="header">Login instructions</h2>
        
        <div slot="body">
            <ol>
                <li>Enter your student number.</li>
                <li>Use your middle name as the password.</li>
            </ol>

            <p><em>If your middle name contains accented letters (e.g. <strong>&#xF1;</strong> [enye]), you may use the non-accented one in place of it (e.g. <strong>n</strong>).</em></p>

            <p>If you&lsquo;re unable to login, please visit the Admission Office and look for Mr. Maxi Hortaleza for assistance.</p>
        </div>
    </modal>
{% endblock %}
