<table class="simple">
    <tr>
        <td>FROM</td>
        <td>&#x3C;Faculty Name&#x3E;</td>
    </tr>
    <tr>
        <td>TO</td>
        <td>&#x3C;Program Head&#x3E;</td>
    </tr>
    <tr>
        <td>SUBJECT</td>
        <td>Failure to submit reports and deliverables</td>
    </tr>
    <tr>
        <td>DATE</td>
        <td>{{ 'now' | date('F j, Y') }}</td>
    </tr>
</table>

<p style="text-align: justify; text-indent: 50px;">As a full-time faculty member of STI College, you are expected to adhere to the Policies on submission of grades on the Code of Conduct. As stated in Offenses Against the Performance of Duty (Neglect of Duty), you have committed Class 3 offense by ‘Non-submission of grades and other deliverables on time as required by government regulatory agencies, STI-HQ.</p>

<p style="text-align: justify; text-indent: 50px;">On this regard, I would like to inform you that on &#x3C;DATE OF SUBMISSION&#x3E;, you failed to submit and encode the Final Grades in OMEGA. As per policy, you will be given demerit points and subject to disciplinary sanction (based on the Code of Conduct).</p>

<p style="text-align: justify; text-indent: 50px;">An explanatory letter is requested upon receipt of this notice.</p>

<p style="text-align: justify; text-indent: 50px;">This will form part of your 201 file.</p>

<br />
<br />

<p>Noted by:</p>

<p>Prof. Rosabella O. Nealega<br />
Academic Head</p>