{% extends '/_layout/main-default.html' %}

{% set page_title = 'Faculty import wizard' %}

{% block content %}
    <div class="container">
        <h1><span class="icon-file_upload"></span> {{ page_title }}</h1>

        <div class="grid">
            {% include '/dashboard/faculties/import/steps.html' %}

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Confirm imports</div>
                    <div class="panel-body">
                        <ul class="tabs">
                            {% set index = 0 %}
                            {% for name,rows in spreadsheet_contents %}
                                <li v-on:click.prevent="wizActivateTab({{ index }})" v-bind:class="{'active': wizActiveTab == {{ index }}}">
                                    <a href="#">{{ name }}</a>
                                </li>
                                {% set index = index + 1 %}
                            {% endfor %}
                        </ul>

                        {% set index = 0 %}
                        {% for name,rows in spreadsheet_contents %}
                            <div class="sheet" v-show="wizActiveTab == {{ index }}">
                                <table class="center-align">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="long">Last Name</span>
                                                <span class="short">L</span>
                                            </th>
                                            <th>
                                                <span class="long">First Name</span>
                                                <span class="short">F</span>
                                            </th>
                                            <th>
                                                <span class="long">Middle Name</span>
                                                <span class="short">M</span>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for row in rows %}
                                            <tr>
                                                <td>{{ row.last_name }}</td>
                                                <td>{{ row.first_name }}</td>
                                                <td>{{ row.middle_name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% set index = index + 1 %}
                        {% endfor %}

                        <p><em>Importing to database may take several seconds depending on the amount of records to be imported. Please don't close this window/tab while importing.</em></p>

                        <form method="post" action="{{ app.request.getRequestUri }}">
                            {{ form_widget(confirm_form) }}

                            <a href="{{ path('dashboard.faculties.import.2') }}" class="button neutral"><span class="icon-navigate_before"></span> Back</a>
                            <button type="submit" class="success">Confirm and save changes <span class="icon-navigate_next"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}