{% extends '/_layout/main-default.html' %}

{% set page_title = 'Maintenance' %}

{% block content %}
    <div class="container">
        <h1>Maintenance</h1>

        <div class="grid">
            <div class="column-4">
                <table>
                    <tbody>
                        <tr>
                            <td>Cache size</td>
                            <td>{{ cache_size }}</td>
                        </tr>
                        <tr>
                            <td>Temporary storage size</td>
                            <td>{{ storage_size }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <ul class="list-unstyled">
            <li>
                <a href="{{ path('dashboard.settings.maintenance.clear', {target: 'cache'}) }}">Clear server cache</a>
            </li>
            <li>
                <a href="{{ path('dashboard.settings.maintenance.clear', {target: 'storage'}) }}">Clear temporary storage directory</a>
            </li>
        </ul>
    </div>
{% endblock %}