{% extends '/_layout/main-default.html' %}

{% set page_title = 'Purge ' ~ store_name %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <p>Are you sure you want to purge {{ store_name }}?</p>
                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ csrf_field() }}
                    
                    <a href="{{ route('dashboard.settings.maintenance', {}, false) }}" class="button neutral">Cancel</a>
                    <button type="submit" class="danger">Confirm <span class="icon-navigate_next"></span></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}