{% extends '/_layout/main-default.html' %}

{% form_theme upload_form '/_layout/form-default.html' %}

{% set page_title = 'Students Import Wizard' %}
{% set active_nav = 'admin' %}

{% block content %}
    <div class="container">
        <h1><span class="icon-file_upload"></span> Students Import Wizard</h1>

        <div class="grid">
            {% include '/admin/manage/student/import/steps.html' %}

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Upload XLSX file</div>
                    <div class="panel-body">
                        <form method="post" action="{{ app.request.getRequestUri }}" enctype="multipart/form-data">
                            {{ form_widget(upload_form) }}

                            <button type="submit" class="success">Next <span class="icon-navigate_next"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}