{% extends '/_layout/main-default.html' %}

{% form_theme choose_form '/_layout/form-default.html' %}

{% set page_title = 'Students Import Wizard' %}
{% set active_nav = 'admin' %}

{% block content %}
    <div class="container">
        <h1><span class="icon-file_upload"></span> Students Import Wizard</h1>

        <div class="grid">
            {% include '/admin/manage/student/import/steps.html' %}

            <div class="column-8">
                <div class="panel">
                    <div class="panel-heading">Choose sheets to import</div>
                    <div class="panel-body">
                        <div class="alert alert-neutral">
                            <p>Please choose which sheets you want to import.</p>
                            <small>You can select up to 3 sheets at a time. If error occurs during selection, reduce your selection and try again.</small>
                        </div>
                        <form method="post" action="{{ app.request.getRequestUri }}">
                            {{ form_widget(choose_form) }}

                            <a href="{{ path('admin.manage.student.import.1') }}" class="button neutral"><span class="icon-navigate_before"></span> Back</a>
                            <button type="submit" class="success">Next <span class="icon-navigate_next"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}