{% extends '/_layout/main-default.html' %}

{% form_theme form '/_layout/form-default.html' %}

{% set page_title = 'Add section' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <form method="post" action="{{ app.request.getRequestUri }}">
                    {{ form_widget(form) }}
                    
                    <button type="submit" class="success">Save <span class="icon-navigate_next"></span></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}