{% extends '/_layout/main-default.html' %}

{% form_theme search_form '/_layout/form-default.html' %}

{% set page_title = 'Sections' %}

{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading"><span class="icon-search"></span> Search Section</div>
                    <div class="panel-body">
                        <form method="get" action="{{ route('dashboard.sections.index', {}, false) }}">
                            {{ form_widget(search_form) }}

                            <button type="submit"><span class="icon-search"></span> Search</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="column-8">
                {% if result is empty %}
                    <div class="alert alert-neutral">No records found</div>
                {% else %}
                    <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                        {% for i in 1..result.lastPage %}
                            <option value="{{ i }}">Page {{ i }}</option>
                        {% endfor %}
                    </select>

                    <ul class="tabs">
                        <li @click="activateTab(0)" :class="{'active': activeTab == 0}">Prelim</li>
                        <li @click="activateTab(1)" :class="{'active': activeTab == 1}">Midterm</li>
                        <li @click="activateTab(2)" :class="{'active': activeTab == 2}">Prefinal</li>
                        <li @click="activateTab(3)" :class="{'active': activeTab == 3}">Final</li>
                    </ul>

                    <table class="center-align">
                        <thead>
                            <tr>
                                <th>
                                    <span class="long">Section</span>
                                    <span class="short">S</span>
                                </th>
                                <th>
                                    <span class="long">Subject</span>
                                    <span class="short">S</span>
                                </th>
                                <th>
                                    <span class="long">Total</span>
                                    <span class="short">T</span>
                                </th>
                                <th>
                                    <span class="long">Failed</span>
                                    <span class="short">F</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entry in result %}
                                <tr>
                                    <td>{{ entry.section }}</td>
                                    <td>{{ entry.subject }}</td>
                                    <td>{{ entry.count }}</td>
                                    <td>
                                        <span v-show="activeTab == 0">{{ entry.failed.prelim }}</span>
                                        <span v-show="activeTab == 1">{{ entry.failed.midterm }}</span>
                                        <span v-show="activeTab == 2">{{ entry.failed.prefinal }}</span>
                                        <span v-show="activeTab == 3">{{ entry.failed.final }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}