{% extends '/_layout/main-default.html' %}

{% form_theme search_form '/_layout/form-default.html' %}

{% set page_title = 'View section' %}

{% block content %}
    <div class="container">
        <h1>Section {{ section }}</h1>

        <div class="grid">
            <div class="column-4">
                <div class="panel">
                    <div class="panel-heading"><span class="icon-search"></span> Search Student from {{ section }}</div>
                    <div class="panel-body">
                        <div class="alert alert-info">Fill any of the fields below</div>
                        <form method="get" action="{{ path('dashboard.sections.view', {section: section}) }}">
                            {{ form_widget(search_form) }}
                            <button type="submit"><span class="icon-search"></span> Search</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="column-8">
                {% if result.data is empty %}
                    <div class="alert alert-neutral">No records found</div>
                {% else %}
                    <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                        {% for i in 1..result.last_page %}
                            <option value="{{ i }}">Page {{ i }}</option>
                        {% endfor %}
                    </select>

                    <table class="center-align">
                        <thead>
                            <tr>
                                <th>
                                    <span class="long">Student #</span>
                                    <span class="short">#</span>
                                </th>
                                <th>
                                    <span class="long">Name</span>
                                    <span class="short">N</span>
                                </th>
                                <th>
                                    <span class="long">Course</span>
                                    <span class="short">C</span>
                                </th>
                                <th>
                                    <span class="long">Actions</span>
                                    <span class="short">A</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in result.data %}
                                <tr>
                                    <td>{{ row.id|format_student_id }}</td>
                                    <td>{{ row.last_name ~ ', ' ~ row.first_name ~ ' ' ~ row.middle_name }}</td>
                                    <td>{{ row.course }}</td>
                                    <td>
                                        <a href="{{ path('dashboard.students.view', {id: row.id}) }}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}